<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion de comentarios</title>
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/miestilo.css') }}"
        />
    </head>
    <body>
        <img
            src="{{ url_for('static', filename='images/logo.jpg') }}"
            name="logo"
            id="logo"
            alt="logo"
        />

        <nav>
            <h1>ADMIN MENU</h1>
            <ul>
                {% if g.user[6]!="usuario" %}
                    <li>
                        <a class="action" href="{{ url_for('nuevoproducto') }}">Agregar Producto</a>
                    </li>
                {% endif %}
                <li>
                    <a class="action" href="{{ url_for('inicio') }}">inicio</a>
                </li>
                <li>
                    <a class="action" href="{{ url_for('log_out') }}">Logut</a>
                </li>
            </ul>
        </nav>

        <table id="tabe" name="table">
            <tbody>
                <tr>
                    <td >Id</td>
                    <td >Nombre y Apellido</td>
                    <td >Telefono</td>
                    <td >Correo</td>
                    <td >Contraseña</td>
                    <td >¿Recibe promociones?</td>
                    <td >Rol</td>
                </tr>
                {% for usu in usuarios %}
                <tr>
                    <td >{% print (usu[0]) %}</td>
                    <td >{% print (usu[1]) %}</td>
                    <td >{% print (usu[2]) %}</td>
                    <td >{% print (usu[3]) %}</td>
                    <td >{% print (usu[4]) %}</td>
                    {% if g.user[5]==1 %}
                        <td >Si</td>
                    {% else %}
                        <td >No</td>
                    {% endif %}
                    <td >{% print (usu[6]) %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <form name="modificarUsuario" action="/adminusuarios" method="POST">
        
            <label for="usuario" class="label1">Seleccione el Id del usuario</label>
            <select name="usuario" class="input1">
                {% for usu in usuarios %}
                    <option>{% print (usu[0]) %}</option>
                {% endfor %}
            </select>
            <label for="campo" class="label1">Seleccione el campo a modificar</label>
            <select name="campo" class="input1">
                <option>Nombre y Apellido</option>
                <option>Telefono</option>
                <option>Correo</option>
                <option>Contraseña</option>
                <option>¿Recibe promociones?</option>
                <option>Rol</option>
            </select>
            <label for="valor" class="label1">Ingrese el nuevo valor</label>
            <input type="text" class="input1" name="valor">
            <br>
            <input type="submit" value="Modificar Usuario" class="boton"/>
        </form>
    </body>
</html>