<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wishlist</title>
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/miestilo.css') }}"
        />
    </head>

    <body>
        <meta charset="UTF-8">
        <img
        src="{{ url_for('static', filename='images/logo.jpg') }}"
        name="logo"
        id="logo"
        alt="logo"
        />
        <nav>
            <h1 ><strong>Gracias por su compra</strong></h1>
            <ul>
                {% if g.user[6]!="usuario" %}
                    <li>
                        <a class="action" href="{{ url_for('nuevoproducto') }}">Agregar Producto</a>
                    </li>
                    <li>
                        <a class="action" href="{{ url_for('adminusuarios') }}">Administrar Usuarios</a>
                    </li>
                {% endif %}
                <li>
                    <a class="action" href="{{ url_for('inicio') }}">inicio</a>
                </li>
                <li>
                    <a class="action" href="{{ url_for('log_out') }}">Logut</a>
                </li>
            </ul>
        </nav>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Precio</th>
          </tr>
          <tr>
            <td>{{producto[1]}}</td>
            <td>
              {% if producto[0]==1 %}
                <img src="{{ url_for('static', filename='images/gargantilla.png') }}"/>
              {% elif producto[0]==2 %}
                <img src="{{ url_for('static', filename='images/anilloCoctel.png') }}"/>
              {% elif producto[0]==3 %}
                <img src="{{ url_for('static', filename='images/anilloCoctel1.png') }}"/>
              {% elif producto[0]==4 %}
                <img src="{{ url_for('static', filename='images/anilloTwist.png') }}"/>
              {% endif %}
            </td>
            <td>{{producto[2]}}</td>
            <td>${{producto[3]}}</td>
          </tr>
      </table>
      <h1 ><strong>Su producto será enviado en los próximos días</strong></h1>
    </body>
</html>