<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/miestilo.css') }}"
        />
    </head>

    <body>
        <section class="content">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </section>
        <meta charset="UTF-8">
        <img
        src="{{ url_for('static', filename='images/logo.jpg') }}"
        name="logo"
        id="logo"
        alt="logo"
        />
        <nav>
            <h1 ><strong>Seleccione un Producto</strong></h1>
            <ul>
                {% if g.user[6]!="usuario" %}
                    <li>
                        <a class="action" href="{{ url_for('nuevoproducto') }}">Agregar Producto</a>
                    </li>
                    <li>
                        <a class="action" href="{{ url_for('adminusuarios') }}">Administrar Usuarios</a>
                    </li>
                {% endif %}
                <li>
                    <a class="action" href="{{ url_for('log_out') }}">Logut</a>
                </li>
            </ul>
        </nav>
        
        <table>
          <tr>
            <td onclick="document.location.href='/producto1';" name="1"><img  src="{{ url_for('static', filename='images/gargantilla.png') }}"/></td>
            <td onclick="document.location.href='/producto2';" name="2"><img  src="{{ url_for('static', filename='images/anilloCoctel.png') }}"/></td>
          </tr>
          <tr>
            <td onclick="document.location.href='/producto3';" name="3"><img  src="{{ url_for('static', filename='images/anilloCoctel1.png') }}"/></td>
            <td onclick="document.location.href='/producto4';" name="4"><img  src="{{ url_for('static', filename='images/anilloTwist.png') }}"/></td>
          </tr>
      </table>
          
    </body>
</html>