<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Swarovski - {{producto[1]}}</title>
            <meta charset="utf-8"/>
            <link
                rel="stylesheet"
                href="{{ url_for('static', filename='css/miestilo.css') }}"
            />
            <img
                src="{{ url_for('static', filename='images/logo.jpg') }}"
                name="logo1"
                id="logo1"
                alt="logo"
            />
        </head>
        <body>
            <section class="content">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </section>

            <nav>
                <h1><strong>{{producto[1]}}</strong></h1>
                <ul>
                    {% if g.user[6]!="usuario" %}
                        <li>
                            <a class="action" href="{{ url_for('nuevoproducto') }}">Agregar Producto</a>
                        </li>
                        <li>
                            <a class="action" href="{{ url_for('adminusuarios') }}">Administrar Usuarios</a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="action" href="{{ url_for('inicio') }}">inicio</a>
                    </li>
                    <li>
                        <a class="action" href="{{ url_for('log_out') }}">Logut</a>
                    </li>
                </ul>
            </nav>

            {% if producto[0]==1 %}
                <img src="{{ url_for('static', filename='images/gargantilla.png') }}"/>
            {% elif producto[0]==2 %}
                <img src="{{ url_for('static', filename='images/anilloCoctel.png') }}"/>
            {% elif producto[0]==3 %}
                <img src="{{ url_for('static', filename='images/anilloCoctel1.png') }}"/>
            {% elif producto[0]==4 %}
                <img src="{{ url_for('static', filename='images/anilloTwist.png') }}"/>
            {% endif %}

            {% if producto[0]==1 %}
                <form
                    action="/producto1" 
                    method="POST" 
                    name="formComentario"
                    class="form1"
                >
                    <label class="label1">
                        {{producto[2]}}
                    </label>
                    <label class="label1">
                        Precio: ${{producto[3]}}
                    </label>
                    <br>
                    <label class="label1">Calificación</label>
                    <center>
                    <input type="radio" id="grade1" name="grade" value="1">
                    <label for="grade1">1</label>
                    <input type="radio" id="grade2" name="grade" value="2">
                    <label for="grade2">2</label>
                    <input type="radio" id="grade3" name="grade" value="3">
                    <label for="grade3">3</label>
                    <input type="radio" id="grade4" name="grade" value="4">
                    <label for="grade4">4</label>
                    <input type="radio" id="grade5" name="grade" value="5">
                    <label for="grade5">5</label>
                    </center>
                    <br>
                    <div>
                        <label for="comentario" class="label1">Comentarios</label>
                        <textarea name="comentario" id="comentario" ></textarea>
                    </div>

                    <input type="submit" value="Comentar " class="boton" />
                </form>
            {% elif producto[0]==2 %}
                <form
                    action="/producto2" 
                    method="POST" 
                    name="formComentario"
                    class="form1"
                >
                    <label class="label1">
                        {{producto[2]}}
                    </label>
                    <label class="label1">
                        Precio: ${{producto[3]}}
                    </label>
                    <br>
                    <label class="label1">Calificación</label>
                    <center>
                    <input type="radio" id="grade1" name="grade" value="1">
                    <label for="grade1">1</label>
                    <input type="radio" id="grade2" name="grade" value="2">
                    <label for="grade2">2</label>
                    <input type="radio" id="grade3" name="grade" value="3">
                    <label for="grade3">3</label>
                    <input type="radio" id="grade4" name="grade" value="4">
                    <label for="grade4">4</label>
                    <input type="radio" id="grade5" name="grade" value="5">
                    <label for="grade5">5</label>
                    </center>
                    <br>
                    <div>
                        <label for="comentario" class="label1">Comentarios</label>
                        <textarea name="comentario" id="comentario" ></textarea>
                    </div>

                    <input type="submit" value="Comentar " class="boton" />
                </form>
            {% elif producto[0]==3 %}
                <form
                    action="/producto3" 
                    method="POST" 
                    name="formComentario"
                    class="form1"
                >
                    <label class="label1">
                        {{producto[2]}}
                    </label>
                    <label class="label1">
                        Precio: ${{producto[3]}}
                    </label>
                    <br>
                    <label class="label1">Calificación</label>
                    <center>
                    <input type="radio" id="grade1" name="grade" value="1">
                    <label for="grade1">1</label>
                    <input type="radio" id="grade2" name="grade" value="2">
                    <label for="grade2">2</label>
                    <input type="radio" id="grade3" name="grade" value="3">
                    <label for="grade3">3</label>
                    <input type="radio" id="grade4" name="grade" value="4">
                    <label for="grade4">4</label>
                    <input type="radio" id="grade5" name="grade" value="5">
                    <label for="grade5">5</label>
                    </center>
                    <br>
                    <div>
                        <label for="comentario" class="label1">Comentarios</label>
                        <textarea name="comentario" id="comentario" ></textarea>
                    </div>

                    <input type="submit" value="Comentar " class="boton" />
                </form>
            {% elif producto[0]==4 %}
                <form
                    action="/producto4" 
                    method="POST" 
                    name="formComentario"
                    class="form1"
                >
                    <label class="label1">
                        {{producto[2]}}
                    </label>
                    <label class="label1">
                        Precio: ${{producto[3]}}
                    </label>
                    <br>
                    <label class="label1">Calificación</label>
                    <center>
                    <input type="radio" id="grade1" name="grade" value="1">
                    <label for="grade1">1</label>
                    <input type="radio" id="grade2" name="grade" value="2">
                    <label for="grade2">2</label>
                    <input type="radio" id="grade3" name="grade" value="3">
                    <label for="grade3">3</label>
                    <input type="radio" id="grade4" name="grade" value="4">
                    <label for="grade4">4</label>
                    <input type="radio" id="grade5" name="grade" value="5">
                    <label for="grade5">5</label>
                    </center>
                    <br>
                    <div>
                        <label for="comentario" class="label1">Comentarios</label>
                        <textarea name="comentario" id="comentario" ></textarea>
                    </div>

                    <input type="submit" value="Comentar " class="boton" />
                </form>
            {% endif %}


            {% if producto[0]==1 %}
                <form
                    action="/wishlist1" 
                    method="POST" 
                    name="formCompra"
                    class="form1"
                >
                    <input type="submit" value="Comprar" class="boton" >
                </form>
            {% elif producto[0]==2 %}
                <form
                    action="/wishlist2" 
                    method="POST" 
                    name="formCompra"
                    class="form1"
                >
                    <input type="submit" value="Comprar" class="boton" >
                </form>
            {% elif producto[0]==3 %}
                <form
                    action="/wishlist3" 
                    method="POST" 
                    name="formCompra"
                    class="form1"
                >
                    <input type="submit" value="Comprar" class="boton" >
                </form>
            {% elif producto[0]==4 %}
                <form
                    action="/wishlist4" 
                    method="POST" 
                    name="formCompra"
                    class="form1"
                >
                    <input type="submit" value="Comprar" class="boton" >
                </form>
            {% endif %}
        
        </body>
    </html>